<h1>Gestión de Bateas</h1>

 <fm-form [entityName]="'Batea'" [fields]="['patente']" [editMode]="editMode" [title]="formTitle" (formSubmit)="onSubmit($event)" (formEdit)="setbateaForm($event)" ></fm-form>

 <fm-table
  [data]="this.bateaService.bateas"
  [columns]="['patent']"
  (edit)="editBatea($event)"
  (delete)="deleteBatea($event)"
></fm-table>

<mat-paginator
  [length]="this.totalItems"
  [pageSize]="10" 
  [pageSizeOptions]="[5, 10, 25, 100]" 
  aria-label="Select page"
  (page)="onPageChange($event)">
</mat-paginator>