/* You can add global styles to this file, and also import other style files */

$primary-color: #54DEFD;
$secondary-color: #00A7D8;
$secondary-background-color: #E6F4F1;

* {
    background-color: #E7FDFF;
}